body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: cadetblue;
  padding: 100px;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}
